@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

:root{
  --padding-container: 100px 0;
  --color-title: #001A49;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/computer.jpg');
  background-size: cover;
  z-index: -1;
}

/* Nav */

.nav{
  --padding-container:0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title{
  font-weight: 300;
}

.nav__items{
  list-style: none;
}

.nav__link{
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__links{
  color: #fff;
  text-decoration: none;
}

.nav__menu{
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img{
  display: block;
  width: 30px;
}

.nav__close{
  display: var(--show, none);
}

/* Hero container */
.hero__container{
  max-width: 800px;
  --padding-container:0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title{
  font-size: 3rem;
}

.hero__paragraph{
  margin-bottom: 20px;
}

.cta{
  display: inline-block;
  background-color: #2091F9;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 14px 30px;
  border-radius: 34px;
}

/* About */
.subtitle{
  color: var(--color-title);
  font-size: 2rem;
   margin-bottom: 25px;
}

.about__paragraph{
line-height: 1.7;
}

.about__main{
  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
}

.about__icon{
  width: 40px;
}

.knowledge{
  background-color: #e5e5f7;
  background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  overflow: hidden;
}

.knowledge__container{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 5em;
  align-items: center;
}

.knowledge__picture{
  max-width: 500px;
}

.knowledge__paragraph{
  line-height: 1.7 ;
  margin-bottom: 15px;
  text-align: justify;
}

.knowledge__img{
  width: 100%;
  display: block;
}

/* Subscription */

.subscription{
  text-align: center;
}

.subcription__table{
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-evenly;
}

.subcription__element{
  background-color: #e5e5f7;
  text-align: center;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 100px;
  width: 330px;
  --color-plan-name: #0e0030;
  --color-bg-plan-name: #588ef2;
  --color-price: #002467;
  --bg-cta: #0d0dac;
  --color-cta: #fff;
  --color-items: #696871;
}

.subcription__element--better{
  width: 370px;
  --color-bg-plan-name: #40008e;
  --color-plan-name: rgb(255, 255, 255);
  --color-price: #07122a;
  --color-items: #696871;
  --bg-cta: #5e0ebf;
}

.subcription__element--best{
  --color-bg-plan-name: #750264;
  --color-plan-name: rgb(255, 255, 255);
  --color-price: #3c0329;
  --color-items: #696871;
  --bg-cta: #3c0329;
}

.plan__name{
  padding-top: 1em;
  padding-bottom: 1em;
  border-top-left-radius: 100px;
  color: var(--color-plan-name);
  background-color: var(--color-bg-plan-name);
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 20px;
}

.plan__price{
  font-size: 2.5rem;
  color: var(--color-price);
}

.plan__items{
  margin-top: 35px;
  display: grid;
  gap: 1em;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 50px;
  color: var(--color-items);
}

.plan__cta{
  display: block;
  margin: 100px 40px 80px 40px;
  padding: 20px 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--bg-cta);
  font-weight: 600;
  box-shadow: 0 0 1px rgba(0,0,0,1.5);
  color: var(--color-cta);
}

/* Questions */

.questions{
  text-align: center;
}

.questions__container{
  display: grid;
  gap: 2em;
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions__padding{
  padding: 0;
  transition: padding .2s;
  border-radius: 6px;
  background: linear-gradient(90deg, #7f94d9 0%, #a7bbe2 35%, #93dae8 100%);
}

.questions__padding--add{
  padding-bottom: 30px;
}

.questions__answer{
  padding: 0  30px 0;
  overflow: hidden;
}

.questions__arrow{
  border-radius: 50%;
  background-color: #84b9ff;
  width: 25px;
  height: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform .3s;
}
.questions__arrow--rotate{
  transform: rotate(180deg);
}

.questions__img{
  display: block;
  width: 40px;
}

.questions__title{
  display: flex;
  font-size: 18px;
  padding: 20px 0 20px;
  cursor: pointer;
  color: var(--color-title);
  justify-content: space-between;
}  

.questions__show{
  height: 0;
  text-align: left;
  transition: height .3s;
}

/* *Footer */

.footer{
  width: 100%;
  background-color: #17132c;  
}

.footer-group1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1em;
  padding: 45px 0px;
  text-align: center;
}

.box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon{
  width: 100px;  
}

.footer__subtitle{
  font-size: 20px;
  color: #fff;
  padding: 0 0 30px; 
}

.footer__paragraph{
  color: #9e9e9e;
}

.social__icon{
  width: 25px;
  height:25px;
}

.footer-group2{
  width: 100%;
  margin: auto;
  text-align: center;
  color: #93dae8;
}

.knowledge__form{
  background-color: #001A49;
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  overflow: hidden;
}

.login__container {
  background-color: #001A49;
  color: #fff;
  max-width: 1000px; 
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px 0;
}

.form-group {
  display: grid;
  grid-template-columns: 160px 1fr;
  margin-bottom: 1em;
}


.input__form {
  width: 100%;
  box-sizing: border-box;
}

.button__form {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  padding: 0.75em;
  background-color: #007bff; /* Cambia según tu preferencia */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 30px;
}



@media only screen and (max-width: 800px) {
    .footer-group1 {
      grid-template-columns: 1fr;
    }

    .box {
      margin-bottom: 20px;
    }

    .login__container {
      grid-template-columns: 1fr;
    }

    .form-group {
      grid-template-columns: 1fr;
      align-items: center;
    }

    .button__form {
      margin-left: 30%;
      margin-right: 30%;
      width: 40%;
    }
    
}

@media only screen and (max-width: 330px) {
    .form-group {
      grid-template-columns: 250px;
      align-items: center;
    }    
    
    .button__form {
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
    }
}
  
